In [1]:
# !pip install pycaret

In [2]:
from pycaret.datasets import get_data
data1 = get_data(dataset = "traffic")

,holiday,temp,rain_1h,snow_1h,clouds_all,weather_main,Rush Hour,traffic_volume
0,None,288.28,0.0,0.0,40,Clouds,1,5545
1,None,289.36,0.0,0.0,75,Clouds,0,4516
2,None,289.58,0.0,0.0,90,Clouds,0,4767
3,None,290.13,0.0,0.0,90,Clouds,0,5026
4,None,291.14,0.0,0.0,75,Clouds,0,4918

In [3]:
from pycaret.regression import *

In [4]:
dataset = setup(data = data1, target = "traffic_volume", session_id = 438)

In [5]:
best = compare_models(exclude = ["lightgbm"])

In [6]:
tuned_best = tune_model(estimator = best)

Fitting 10 folds for each of 10 candidates, totalling 100 fits

In [7]:
final_model = finalize_model(estimator = tuned_best)

In [12]:
model_output = "./models/traffic-pipeline"
save_model(model = final_model, model_name = "./models/traffic-pipeline")

Transformation Pipeline and Model Successfully Saved

(Pipeline(memory=Memory(location=None),
          steps=[('numerical_imputer',
                  TransformerWrapper(include=['temp', 'rain_1h', 'snow_1h',
                                              'clouds_all', 'Rush Hour'],
                                     transformer=SimpleImputer())),
                 ('categorical_imputer',
                  TransformerWrapper(include=['holiday', 'weather_main'],
                                     transformer=SimpleImputer(strategy='most_frequent'))),
                 ('onehot_encoding',
                  TransformerWrapper(inclu...
                                     transformer=OneHotEncoder(cols=['holiday',
                                                                     'weather_main'],
                                                               handle_missing='return_nan',
                                                               use_cat_names=True))),
                 ('clean_column_names',
                  TransformerWrapper(transformer=CleanColumnNames())),
                 ('actual_estimator',
                  GradientBoostingRegressor(learning_rate=0.15, max_features=1.0,
                                            min_impurity_decrease=0.0001,
                                            min_samples_leaf=5,
                                            min_samples_split=7,
                                            n_estimators=300, random_state=438,
                                            subsample=0.95))]),
 './models/traffic-pipeline.pkl')

### Production

In [13]:
model = load_model(model_output)

Transformation Pipeline and Model Successfully Loaded

In [15]:
predictions = predict_model(model, data=data1)

In [16]:
predictions.head()

,holiday,temp,rain_1h,snow_1h,clouds_all,weather_main,Rush Hour,traffic_volume,prediction_label
0,None,288.279999,0.0,0.0,40,Clouds,1,5545,4698.712327
1,None,289.359985,0.0,0.0,75,Clouds,0,4516,3231.539034
2,None,289.579987,0.0,0.0,90,Clouds,0,4767,3175.690936
3,None,290.130005,0.0,0.0,90,Clouds,0,5026,3069.293971
4,None,291.140015,0.0,0.0,75,Clouds,0,4918,3284.376073